.dotsGrid {
  --move-dot-size-ratio: 0.5;

  aspect-ratio: 1;
  background-color: #eee;
  display: flex;
  flex-direction: column;
}

.dotsGridLocation {
  --move-width: calc(1em * var(--move-dot-size-ratio));
  position: relative;
  flex-grow: 1;
}

.dotsGridLocation:last-child {
  width: 1em;
  flex-grow: 0;
}

.dotsGridRow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
}

.dotsGridRow:last-child {
  height: 1em;
  flex-grow: 0;
}

.dotsGridRow:last-child > .dotsGridLocation {
  height: 1em;
}

.dot {
  z-index: 2;
  height: 1em;
  width: 1em;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.dotSelectionArea {
  z-index: 3;
  position: absolute;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  left: calc(.5em - 40%);
  top: calc(.5em - 40%);
  border: 1px black solid;
}

.dotSelectionArea.nextOneRight {
  left: calc(.5em - 40% + 100%);
}

.dotSelectionArea.nextOneDown {
  top: calc(.5em - 40% + 100%); 
}

.horizontalMove {
  z-index: 1;
  position: absolute;
  left: .5em;
  top: calc(.5em - ( var(--move-width) / 2 ));
  height: var(--move-width); 
  width: 100%;
  background-color: #dc143c;
}

.verticalMove {
  z-index: 1;
  position: absolute;
  left: calc(.5em - ( var(--move-width) / 2 ));
  top: var(--move-width);
  height: 100%;
  width: var(--move-width);
  background-color: #dc143c;
}